@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import "tailwindcss";

:root {

--White: hsl(0, 100%, 100%);
--Grey-500: hsl(0, 0%, 63%);
--Grey-800: hsl(0, 0%, 27%);
--Black: hsl(0, 0%, 0%);

  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}